body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://t3.ftcdn.net/jpg/04/71/00/20/360_F_471002062_tCBbTqeeMhHgMfCW86mQhdgpETooy3ID.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

header {
    background-color: #000000;
    padding: 10px 0;
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: lightgray;
}

section {
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.7;
}

.profile img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid rgb(211,0,0);
    width: 200px;
    height: 200px;
}

h1 {
    color: lightblue;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}